{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('list') }}">List</a><br/>
{% if item is defined and item is not empty %}
{% if key.fileType == 'image/jpeg' or key.fileType == 'image/png' %}
    <img src="{{ item.url }}" alt="{{ key.fileName }}", width="150" height="150">
{% endif %}
    <p>Details:
        Name: {{ key.fileName }}<br/>
        Last modified {{ item.lastModified }}</p>
    <p>Link: <a href="{{ item.url }}" target="_blank">{{ item.url }}</a></p>
{% endif %}
{% endblock %}

