{% extends 'base.html.twig' %}

{% block body %}
    <p><a href="{{ path('upload') }}">Upload</a> </p>
    {% if items is defined and items is not empty %}
        {% for item in items %}
            <p><a href="{{ path('listDetail',{id:item.id}) }}">{{ item.fileName }}</a> - expires at {{ item.expiresAt|date('Y-m-d') }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}